/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* Sections style */
@import url('./1-gallery.css');

.index-list {
  margin: 50px;
  font-size: 20px;
}
.index-item:first-child {
  margin-bottom: 10px;
}
